@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Redressed&display=swap');

*,
html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.top {
    height: 60vh;
    margin-top: -60vh;
    width: 100%;
    z-index: 4;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}

.text {
    font-weight: 500;
    font-size: 1.2em;
    color: #eee;
    letter-spacing: 0.8;
}

.top:hover {
    background-position: right top;
    transform: scale(1.1);
}

.card {
    transition: all .2s ease;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    box-shadow: 3px 3px 7px #d4d3d3;
}

.card-text {
    text-transform: capitalize;
}

.join-btn {
    background-color: #c133ff;
    color: white;
    outline: none;
    border: none;
    transition: all .4s ease;
    width: 150px;
}

.join-btn:hover {
    background-color: #c133ff;
    transform: scale(1.1);
}

.join-btn:active {
    background-color: #c133ff;
}

.card:hover {
    background-color: #eee;
    margin: 8px 0;
}

.product-image {
    background-color: black;
    width: 100%;
    height: 220px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar-track{
    width:10px;
    background-color: white;
    border-radius: 50px;
  } */
::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 20px;
}

@media screen and (max-width:576px) {
    .display-3 {
        font-size: xx-large;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }
}